@media (max-width: 375pt) {
  
    .rectangle {
      background: #fff;
      background-image: url(../../img/bear-face-pink.png);
      background-size: 42.6vw;
      background-position: top;
      background-position-y: 28%;
      background-repeat: no-repeat;
      border-radius: 44px;
      height: calc(220pt + 93 * ((100vmin - 320px) / 180));
  
      &__btn {
        border: 2px solid #e990f9;
        color: #e990f9;
        width: calc(110px + 41 * ((100vmin - 320px) / 180));
        height: calc((110px + 41 * ((100vmin - 320px) / 180)) / 2.5);
      }
    }
  }