$rectangleWidth: calc(100vmax / 2.86);
$rectangleHeight: calc(#{$rectangleWidth} / 1.32);

main {
    height: 100%;
  }
  
  main .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .rectangle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: $rectangleWidth;
    height: $rectangleHeight;
    background: #e990f9;
    background-image: url(../../img/bear-face.png);
    background-size: calc(#{$rectangleWidth} / 3.1);
    background-position: top;
    background-position-y: 28%;
    background-repeat: no-repeat;
    border-radius: 44px;
  
    &__btn {
      width: calc(#{$rectangleWidth} / 3.3);
      height: calc((#{$rectangleWidth} / 3.3) / 2.5);
      margin-bottom: 9.5%;
      background: transparent;
      border: 1px solid #fff;
      border-radius: 44px;
      cursor: pointer;
      color: #fff;
      transition: transform .3s;
      font-size: 12px;
    }
  
    &__btn:hover {
      transform: scale(1.2);
    }
  
    &__btn:active {
      transform: scale(.9);
    }
  }
  
  @import 'loginPageMedia.scss'