@import '../fonts.scss';

$headerHeight: calc(102px + 14 * ((100vmin - 500px) / 940));
$logoWidth: 147px;
$logoHeight: calc(#{$headerHeight} / 2);
$headerPaddingTB: calc(#{$headerHeight} / 3.8);



.wrapper-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: calc(#{$headerHeight} / 2);
}

.menu-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 25pt;
    font-family: SFUIText-Bold;
    width: 170pt;
    height: 150pt;
    text-transform: uppercase;
    cursor: pointer;

    &__item {
        color: #464347;
        transition: color .3s;
        cursor: pointer;
    }

    &__item:hover {
        color: #7ed321;
    }
}