@font-face {
    font-family: "SFUIText-Regular";
    src: url('../fonts/SFUIText-Regular.woff2') format('woff2'),
        url('../fonts/SFUIText-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal
}

@font-face {
    font-family: "SFUIText-Medium";
    src: url('../fonts/SFUIText-Medium.woff2') format('woff2'),
        url('../fonts/SFUIText-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
    font-style: normal
}

@font-face {
    font-family: "SFUIText-Bold";
    src: url('../fonts/SFUIText-Bold.woff2') format('woff2'),
        url('../fonts/SFUIText-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
    font-style: normal
}